.PokeDex-wrapper{
    border: red solid 1px;
    height: 700px;
}
#content{
    margin: 30px;
    border: yellow solid 1px;
    height: 650px;
}
#heading{
    height: 150px;
    border: red solid 1px;
    
}
#titleInputContainer{
    height: 110px;
    width: 700px;
    border: purple solid 1px;

}
#title{
    height: 50px;
    border: orange solid 1px;
    font-weight: 900;
    font-size:xx-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#inputName{
    height: 60px;
    border: pink solid 1px;
}
.imageContent{
    height: 400px;
    border: yellow solid 1px;
}

#heading, #title, #inputName, #imageHeading,#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#imageContainer{
    height: 370px;
    border: green solid 1px;
    display: flex;
}