.PokeDex-wrapper {
    border: red solid 1px;
    height: 2100px;
}

#content {
    margin: 30px;
    border: yellow solid 1px;
    height: 2000px;
}

#heading {
    height: 150px;
    border: red solid 1px;

}

#titleInputContainer {
    height: 110px;
    width: 700px;
    border: purple solid 1px;

}

#title {
    height: 50px;
    border: orange solid 1px;
    font-weight: 900;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inputName {
    height: 60px;
    border: pink solid 1px;
}

.imageContent {
    height: 1850px;
    border: rgb(47, 0, 255) solid 1px;
}

#heading,
#title,
#inputName,
#imageHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#imageContainer {
    height: 1800px;
    border: green solid 1px;
    /* overflow: auto; */
    justify-content:space-evenly   ;
    margin: 5px;

}